services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - ${DOCKER_USERNAME:-haongo123}/web-ban-noi-that-frontend:${TAG:-latest}
    image: ${DOCKER_USERNAME:-haongo123}/web-ban-noi-that-frontend:${TAG:-latest}
    container_name: web-ban-noi-that-frontend
    ports:
      - "3000:4173"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - frontend-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:4173",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  frontend-network:
    driver: bridge
