name: Build & Push Backend Multi-Arch Images

on:
  push:
    branches: [main]
    tags:
      - "v*"
  workflow_dispatch:

env:
  DOCKERHUB_USERNAME: haongo123

jobs:
  build-and-push-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend multi-arch images
        working-directory: backend
        run: |
          docker buildx bake --push
